.filter-container {
    padding: 10px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 250px;
  }
  
  .category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .category-button {
    border: 2px solid #ccc;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .category-button.selected {
    background-color: #1e3a8a;
    color: white;
    border-color: #1e3a8a;
  }
  
  .color-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .color-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .color-button:hover {
    opacity: 0.8;
  }
  
  .size-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .size-button {
    border: 2px solid #ccc;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
  }
  
  .size-button.selected {
    background-color: #1e3a8a;
    color: white;
    border-color: #1e3a8a;
  }
  
  .apply-button, .clear-button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .apply-button {
    background-color: #1e3a8a;
    color: white;
  }
  
  .clear-button {
    background-color: #f2f2f2; 
    color: #6b7280;
    border: 1px solid #d1d5db; 
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  .clear-button:hover {
    background-color: #e0e0e0; 
    color: #4b5563;
  }
  
  .apply-button:hover {
    background-color: #162b60;
  }
  
  .mt-2 {
    margin-top: 10px;
  }