.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 5px;
    border-radius: 25px; 
    border: 2px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .pagination-button.active {
    background-color:  #1e3a8a;
    color: white;
    border-color:  #1e3a8a;
  }
  
  .pagination-button:hover {
    background-color:  #1e3a8a; 
    color: white;
  }  
  
  /* Estilização do seletor de ordenação */
.sort-dropdown {
  border: 2px solid #ccc;
  padding: 6px 14px;
  border-radius: 8px; 
  background: white;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.sort-dropdown:hover {
  border-color: #27ae60; 
}

.home-title {
  color: #6b7280 !important; 
  font-size: 14px; 
  font-weight: 600;
  display: inline-block; 
  border-bottom: 2px solid #6b7280; 
  padding-bottom: 4px; 
}