/* Ajuste geral da navbar */
.custom-navbar {
  background: #f3f3f3;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

/* Linha superior */
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-title {
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  color: #4a4a4a; 
}

/* Ajuste dos menus */
.menu-bar {
  flex: 1;
  background: transparent;
  border: none;
}

/* barra de pesquisa e do botão do carrinho */
.search-container {
  background: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  border-bottom: none;
}

/* barra de pesquisa */
.search-box {
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 350px;
  height: 42px;
}

.search-box i {
  margin-right: 8px;
  color: #666;
  cursor: pointer;
  font-size: 18px;
}
.search-input {
  border: none;
  outline: none; 
  width: 100%;
  font-size: 16px;
  background: transparent;
  height: 100%;
}

.search-input:focus {
  outline: none;
  box-shadow: none; 
}

/* Botão do carrinho */
.cart-button {
  background-color: #00a859;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  transition: 0.3s;
  height: 38px;
  display: flex;
  align-items: center;
}

.cart-button:hover {
  background-color: #008a4b;
}